<table class="table table-dark table-striped tabla table-sm">
    <thead>
        <tr>
            <th>Domicilio</th>
            <th>Precio</th>
            <th>Dia</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let deuda of deudas">
            <td>{{deuda.domicilio}}</td>
            <td>{{deuda.precio | currency}}</td>
            <td>{{deuda.dia}}</td>
            <td>{{deuda.Tipo}}</td>
            <td>
                <button class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">Acciones</button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li>
                        <button class="dropdown-item" (click)="pedidoToPedidoModal(deuda)" data-bs-toggle="modal"
                            data-bs-target="#modificarModal">Modificar</button>
                    </li>
                    <li>
                        <button class="dropdown-item" (click)="deudaModal = deuda" data-bs-toggle="modal"
                            data-bs-target="#eliminarModal">Eliminar</button>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal Modificar-->
<div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar deuda de '{{tituloModal}}'</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" (ngSubmit)="submitModificar();">
                    <div class="mb-4">
                        <label for="" class="form-label">Domicilio</label>
                        <input type="text" name="domicilio" [value]="deudaModal.domicilio"
                            [(ngModel)]="deudaModal.domicilio" class="form-control">
                    </div>
                    <div class="mb-4">
                        <label for="" class="form-label">Precio</label>
                        <input type="number" name="precio" [value]="deudaModal.precio" [(ngModel)]="deudaModal.precio"
                            class="form-control">
                    </div>
                    <div class="mb-4">
                        <label for="" class="form-label">Dia</label>
                        <input type="date" name="dia" [value]="deudaModal.dia" [(ngModel)]="deudaModal.dia"
                            class="form-control">
                    </div>
                    <div class="mb-4">
                        <label for="" class="form-label">Tipo</label>
                        <select name="Tipo" [(ngModel)]="deudaModal.Tipo" class="form-control">
                            <option value="debo">Debo</option>
                            <option value="deben">Me deben</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-wrench" viewBox="0 0 16 16">
                                <path
                                    d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z" />
                            </svg><span>Modificar</span></button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg><span>Cerrar</span> </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminar-->
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar deuda a '{{deudaModal.domicilio}}'</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro de <strong>eliminar</strong> la deuda de <strong>{{deudaModal.domicilio}}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg><span>Cerrar</span> </button> <button type="button" class="btn btn-danger"
                    data-bs-dismiss="modal" (click)="eliminarDeuda()"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path
                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg><span>Eliminar</span></button>
            </div>
        </div>
    </div>
</div>