<footer>
    <div class="d-flex justify-content-center centerL">
        <p class="nombre">Proyecto desarrollado <br> por <br> Carlos Daniel Jaramillo Tinajero</p>
    </div>
    
    <hr>
    <div class="d-flex justify-content-center">

        <div class="p-2 centerL">
            <p><strong>FrameWorks utilizados</strong> <br>Laravel <br>Angular</p>
        </div>
        <div class="vertical"></div>
        <div class="p-2 centerL">
            <p><strong>Lenguajes utilizados</strong> <br>PHP <br>HTML <br>CSS <br>TypeScript <br>MYSQL <br>RXJS</p>


        </div>
    </div>
</footer>