<div class="contenedor div">
    <h2 class="titulo">Agregar nuevo pedido</h2>

    <form class="row g-3 " (ngSubmit)="addPedidoS();">
        <div class="col-auto">
            <input type="text" class="form-control" name="domicilio" [(ngModel)]="addPedido.domicilio"
                placeholder="Domicilio">
        </div>
        <div class="col-auto">
            <input type="number" class="form-control" name="precio" placeholder="Precio" [(ngModel)]="addPedido.precio">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
              </svg><span>Agregar</span></button>
        </div>
    </form>
    <app-alert [class]="class" [msg]="msg" [mostrar]="mostrar" (quitarAlert)="quitarAler();"></app-alert>
</div>

<app-pedidos-tabla [pedidos]="pedidos" [maxPedidos]="pedidos.length" (eventEliminar)="EliminarPedido($event, true)" (eventPut)="putPedido($event)"
    (eventLlevado)="addPedidoLlevado($event)" (eventDeuda)="addDeuda($event)">
</app-pedidos-tabla>