body {
    background-color: rgb(26, 26, 27);
}

.modal-content {
    background-color: rgb(26, 26, 27);
    padding: 15px;
}

.modal-content h1,
label,
h2,
h3,
h4,
h5,
p {
    color: white;
}

.modal-content .btn-close {
    background-color: white;
    padding: 5px;
}

.tablaHover tbody tr {
    transition: all .4s ease-in-out;
}

.tablaHover tbody tr:hover {
    scale: 1.016;
}

.tabla {
    margin-top: 40px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    transition: all .8s ease;
    box-shadow: -9px 8px 6px 1px rgb(0, 0, 0, 0.5);
}

.tablaTotales {
    max-width: 300px;
    margin-bottom: -50px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.contenedor {
    margin-top: 90px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* align-items: center; */
}

.contenedor form {
    margin-left: 20px;
}


.titulo {
    color: white;
    margin-bottom: 30px;
}

table {
    max-width: 1600px;
}

/* table tbody tr {
    transition: all .2s ease;
}

table tbody tr:hover {
    background-color: rgb(34, 145, 179, 0.6);
    color: rgb(34, 145, 179, 1);
} */


@media only screen and (max-width: 800px) {
    .div {
        margin-left: 10px;
    }
}

.btnG {
    opacity: 1;
    border: none;
    border-bottom: 1px rgb(34, 145, 179, 1) solid;
    background-color: unset;
    transition: all .1s ease-in-out;
}

.btnG span {
    margin-left: 10px;
    /* color: aqua; */
}

.btnG:hover {
    transform: translateY(-2px);
    /* scale: 1.03; */
    border: none;
    background-color: unset;
    -webkit-box-shadow: inset 0px 0px 14px 2px rgb(34, 145, 179, 1);
    -moz-box-shadow: inset 0px 0px 14px 2px rgb(34, 145, 179, 1);
    box-shadow: inset 0px 0px 14px 2px rgb(34, 145, 179, 1);
}

.formularioMax {
    display: flex;
}

.formularioMax label {
    margin-top: 8px;
    margin-right: 10px;
    color: white;
}

.formularioMax input {
    background-color: unset;
    color: white;
    border: none;
    -webkit-box-shadow: inset 0px 0px 14px 2px rgb(34, 145, 179, 1);
    -moz-box-shadow: inset 0px 0px 14px 2px rgb(34, 145, 179, 1);
    box-shadow: inset 0px 0px 14px 2px rgb(34, 145, 179, 1);

    transition: all 1s ease-in-out;
    margin-right: 10px;
    /* width: 10px; */
}

.formularioMax input:focus {
    background-color: unset;
    color: white;
    border: none;
    -webkit-box-shadow: inset 0px 0px 14px 2px rgb(34, 145, 179, 1);
    -moz-box-shadow: inset 0px 0px 14px 2px rgb(34, 145, 179, 1);
    box-shadow: inset 0px 0px 14px 2px rgb(34, 145, 179, 1);
    border: 1px rgb(34, 145, 179, 1) solid;
}

.formularioMax input button {
    background-color: unset;
    /* color: white; */
    border: none;
}

.maxFilas {
    width: 70px;
}

.btn {
    background-color: unset;
    border: none;
    transition: all .5s ease;
    border-radius: 5px;
    padding: 10px;
    max-width: max-content;
}

.btn svg {
    visibility: hidden;
    width: 0px;
    height: 0px;
    transition: all .3s ease-in-out;
}

.btn:hover svg {
    visibility: visible;
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.btn-secondary {
    border-bottom: 1px #7e8686 solid;
}

.btn-secondary:hover {
    color: rgb(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 20px 0px #7e8686;
    -moz-box-shadow: 0px 0px 20px 0px #7e8686;
    box-shadow: 0px 0px 20px 0px #7e8686;
    background-color: #7e8686;
    transform: translateY(-2px);
}

.btn-primary {
    border-bottom: 1px #2291b3 solid;
}

.btn-primary:hover {
    color: rgb(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(34, 145, 179, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(34, 145, 179, 1);
    box-shadow: 0px 0px 20px 0px rgba(34, 145, 179, 1);
    background-color: #2291b3;
    transform: translateY(-2px);
}

.btn-danger {
    border-bottom: 1px #b32222 solid;
}

.btn-danger:hover {
    color: rgb(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 20px 0px #b32222;
    -moz-box-shadow: 0px 0px 20px 0px #b32222;
    box-shadow: 0px 0px 20px 0px #b32222;
    background-color: #b32222;
    transform: translateY(-2px);
}

.invalidModel {
    font-size: 14px;
    margin: 0px;
    background-color: unset;
    border: none;
    padding: 0px;
    z-index: 100;
    color: #b32222;
}

.inputInvalid {
    border: 1px #b32222 solid;
}

.inputInvalid:focus {
    border: 1px #b32222 solid;
    -webkit-box-shadow: 0px 0px 10px 0px #b32222;
    -moz-box-shadow: 0px 0px 10px 0px #b32222;
    box-shadow: 0px 0px 10px 0px #b32222;
}

.btnH {
    height: 50px;
}