@media only screen and (min-width: 800px) {

    .botononesOPC {
        border-bottom: 1px #2291b388 solid;
        width: 101%;
        margin-right: 30px;
        margin-left: -15px;
    }

    .tablaChica {
        max-width: 300px;
        margin-right: 40px;
    }

    .formulario {
        margin-right: 30px;
        /* width: 500px; */
    }

    .formulario .btn {
        margin-left: 35px;
    }

    .botononesOPC h5 {
        color: white;
        transition: all .8s ease;
        border-radius: 5px;
        padding: 8px;
        font-size: 15px;
        /* width: 49px;     */
        cursor: pointer;
        margin-left: 8px;
    }

    .inputText {
        margin-right: 15px;
        margin-top: 13px;
    }

    .inputText label {
        margin-bottom: 15px;
    }

    .divBusqueda {
        margin-right: 20px;
    }

}

@media only screen and (max-width: 800px) {

    .botononesOPC {
        border-bottom: 1px #2291b388 solid;
        width: 101%;
        margin-right: 30px;
        margin-left: -15px;
    }

    .tablaChica {
        max-width: 300px;
        margin-right: 10px;
    }

    .botononesOPC h5 {
        color: white;
        transition: all .8s ease;
        border-radius: 5px;
        padding: 8px;
        font-size: 15px;
        /* width: 49px;     */
        cursor: pointer;
        margin-left: 8px;
    }

    .inputText {
        margin-right: 15px;
        margin-top: 13px;
    }

    .inputText label {
        margin-bottom: 15px;
    }

    .divBusqueda {
        margin-right: 5px;
        margin-left: 18px;
    }
}

.mostrar {
    visibility: visible;
}

.ocultar {
    visibility: hidden;
    height: 0px;
    width: 0px;
    padding: 0px;
    margin: 0px;
}

.tabla th:hover {
    cursor: pointer;
}

.botononesOPC h5:hover {
    color: rgb(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(34, 145, 179, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(34, 145, 179, 1);
    box-shadow: 0px 0px 30px 0px rgba(34, 145, 179, 1);
    background-color: #2291b3;
}

.btnm {
    margin-left: auto;
    margin-right: auto;
}

.btn-refres {
    /* margin-left: 20px; */
    /* margin-left: 3vw; */
    margin-bottom: 20px;
    /* margin-top: 20px; */
}

.maxFilas {
    width: 80px;
}