<div class="div contenedor">
    <h2 class="titulo">Pedidos por dia</h2>
</div>

<!-- Tabla y tipo de busqueda de pedidos -->
<div class="d-flex justify-content-end" style="max-width: 1600px; margin-left: auto; margin-right: auto;">
    <!-- Cambiar el tipo de busqueda -->
    <div class="d-blok divBusqueda">
        <div class="botononesOPC d-flex">
            <h5 (click)="cambioDeBusqueda('dia')">Dia</h5>
            <h5 (click)="cambioDeBusqueda('dom')">Domicilio</h5>
        </div>

        <div class="mb-4 inputText">
            <!-- Busqueda por dia -->
            <div [ngClass]="{'mostrar': busquedaPor === 'dia', 'ocultar': busquedaPor === 'dom' }">
                <label for="" class="form-label">Busqueda por dia</label>
                <input type="date" name="dia" [(ngModel)]="diaForm" id="" class="form-control" style="width: 164px;"
                    (ngModelChange)="bucarPordia()">
            </div>

            <!-- Busqueda por domicilio -->
            <div [ngClass]="{'mostrar': busquedaPor === 'dom', 'ocultar': busquedaPor === 'dia' }">
                <label for="" class="form-label">Busqueda por dom.</label>
                <input type="text" placeholder="Domicilio" name="dom" [(ngModel)]="domForm" class="form-control"
                    style="width: 164px;" (ngModelChange)="buscarPorDom()">
            </div>

        </div>
    </div>

    <!-- Tabla totales por dia o domicilio -->
    <table class="table table-dark  table-striped tablaChica">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="busquedaPor == 'dia' ">
                <td>Dia</td>
                <td *ngIf="dia != ''">{{dia | date}}</td>
                <td *ngIf="dia == ''">Todos</td>
            </tr>
            <tr *ngIf="busquedaPor == 'dom' ">
                <td>Domicilio</td>
                <td *ngIf="domForm != ''">{{domForm}}</td>
                <td *ngIf="domForm == ''">Todos</td>
            </tr>
            <tr>
                <td>Pedidos cantidad</td>
                <td>{{conDiaFillter.length}}</td>
            </tr>
            <tr>
                <td>Total Propina</td>
                <td>{{totalPropina |currency}}</td>
            </tr>
            <tr>
                <td>Total Pagado</td>
                <td>{{totalPagado | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Tabla pedidos -->
<table class="table table-dark tabla table-striped">
    <thead>
        <button type="button" class="btn btn-secondary btn-sm btn-refres" (click)="getConDia()">Refrescar tabla</button>

        <tr>
            <th>#</th>
            <th (click)="acomodarPorDomicilio()">Domicilio</th>
            <th (click)="acomodarPorPrecio()">Precio</th>
            <th (click)="acomodarPorPago()">Pago</th>
            <th (click)="acomodarPorPropina()">Propina</th>
            <th>Dia</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedidoDia of conDiaFillter; let indice = index">
            <td *ngIf="indice < maxFilas * pagina && indice >= maxFilas * paginaA">{{indice + 1}}</td>
            <td *ngIf="indice < maxFilas * pagina && indice >= maxFilas * paginaA">{{pedidoDia.domicilio}}</td>
            <td *ngIf="indice < maxFilas * pagina && indice >= maxFilas * paginaA">{{pedidoDia.precio | currency}}</td>
            <td *ngIf="indice < maxFilas * pagina && indice >= maxFilas * paginaA">{{pedidoDia.pago | currency}}</td>
            <td *ngIf="indice < maxFilas * pagina && indice >= maxFilas * paginaA">{{pedidoDia.propina | currency}}</td>
            <td *ngIf="indice < maxFilas * pagina && indice >= maxFilas * paginaA">{{pedidoDia.dia | date}}</td>
        </tr>
    </tbody>
</table>

<!-- Controladores tabla -->
<div class="d-flex justify-content-center ">
    <div class="p-2">
        <button (click)="anterior()" class="btn btn-dark"
            [ngClass]="{'opacity-25':pagina==1, 'btnG':pagina > 1}">Anterior</button>
    </div>
    <div class="p-2">
        <form (submit)="maxFilasEvent()" action="" class="formularioMax">
            <label for="" class="form-label">Max:</label><input type="number" name="maxFilasInput"
                [(ngModel)]="maxFilasInput" value="" class="form-control maxFilas"
                [placeholder]="'Max filas: ' + maxFilas"><label for="" class="form-label"> Filas</label>
        </form>
    </div>
    <div class="p-2">
        <button (click)="siguiente()" class="btn btn-dark"
            [ngClass]="{'opacity-25':pagina * maxFilas > maxPedidos, 'btnG':pagina * maxFilas < maxPedidos}">Siguiente</button>
    </div>
</div>